@model IEnumerable<Englishmania.DAL.Entities.TopicVocabulary>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VocabularyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VocabularyId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopicId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TopicId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
        </td>
    </tr>
}
    </tbody>
</table>
